[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "~=1.19.0"
dash-bootstrap-components = "~=1.5.0"
gunicorn = "~=21.0.0"
pandas = "~=1.5.3"

[dev-packages]

[requires]
python_version = "3.10"
