[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
pandas = "*"
altair = "*"
shapely = "*"
dash = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3.10"
